.filter{
    font-size: 1.7em;
    margin-right: 10px;
}

.searchbar1{
    width: 95%;
    position: relative;
    margin:auto;
    margin-top:2%;
}

.cardsize{
    width: 90%;
    position: relative;
    margin:auto;
    margin-top:8%; 
}
