.todaytitle{
    margin-left: 20px;
    margin-top:8%; 
    }

    .thirdcard{
        width: 90%;
        position: relative;
        margin:auto;
        margin-top:0%; 
    }

    .thisweektitle{
        margin-left: 20px;
        margin-top:5%; 
        }