.tourimg{
  margin-top: 1.5%;
}

.appearancetitle{
  margin-top: -150%;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.tourtitle{
  margin-top: 51%;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.mvtitle{
  margin-top: 47%;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}
